/* Redefinição de estilos padrão */
* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
  
  
  /* Corpo */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
  }
  
  /* Cabeçalho */
  header {
    background-color: #e7dc3e;
    color: #fff;
    padding: 0px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 10%;
    font-size: 24px;
  }
  
  header img {
    width: 20%;
    height: auto;
    max-height: 200px;
  }
  
  header p {
    font-size: 14px;
  }
  
  /* Navegação */
  nav {
    background-color: #f5f5f5;
    padding: 10px 0;
  }
  
  /* Media query para ajustes responsivos */
  @media only screen and (max-width: 768px) {
    nav {
      text-align: center; /* Centralizar a navegação em telas menores */
    }
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Ajustar o alinhamento se necessário para telas maiores */
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px; /* Ajustar o espaçamento se necessário */
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px; /* Considerar aumentar o padding para melhores alvos de toque */
  }
  
  /* Efeito hover para links do menu */
  nav a:hover {
    color: #e7dc3e; /* Usar uma cor contrastante ou complementar */
    background-color: #eee; /* Mudança de fundo sutil opcional ao passar o mouse */
  }
  
  /* Container */
  .container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    
  
  }

  .imagens img {
    float: left;
    margin: 5px;
  }
  
.h1noemia{

  visibility: hidden;

}

.botao-calendario {
  background-color: #e7dc3e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}


.calendario {
  margin-bottom: 30px;
  text-align: center;
}

  
  /* Seção Sobre */
  .sobre {
    margin-bottom: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 35px;
  }
  
  .sobre img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
  }


  .palaglafoh2noemia {
    clear: both;
    text-align: center;
    margin-top: 20px;
  }
  

  
  /* Seção Quem Somos */
  .quem-somos {
    margin-bottom: 20px;
    grid-template-columns: 5fr 5fr;
    gap: 10px;
    display: grid;
    
  }


  
  .quem-somos img {
    width: 150%;
    height: auto;
    max-width: 300px;
    margin: 10% auto;
  }

 


  .sobre p,
.quem-somos p,
.proposta p,
.infraestrutura p {
  margin-left: 10px; /* Ajuste o valor para o espaçamento desejado */
}

  
  /* Seção Equipe */
  #equipe ul {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto;
  }
  
  #equipe li {
    margin: 10px;  /* Ajuste o valor para o espaçamento desejado */
    text-align: center;
  }
  
  #equipe ul li img {
    width: 150px;  /* Ajuste o valor para a largura desejada */
    height: auto;
    border-radius: 50%;
  }
  
  #equipe li h3 {
    font-size: 16px;
    margin: 5px 0;
  }
  

  .sobre p,
.quem-somos p,
.proposta p,
.infraestrutura p {
  margin-left: 30px; /* Ajuste o valor para o espaçamento desejado */
}

  
  /* Seção Proposta */
  #proposta p {
    text-align: justify;
  }

  

  /* Seção Infraestrutura */
  #infraestrutura ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  
  #infraestrutura li {
    display: inline-block;
    margin: 20px;
    text-align: center;
  }
  
  #infraestrutura li img {
    width: 250px;
    height: auto;
    display: block; /* Or inline-block */
  }
  
  .imagens {
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  
  #infraestrutura li h3 {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }
  
  footer {
    background-color: #e7dc3e;
     color: #000000;
     text-align: center;
     padding: 10px 0;
  
  }